@media (width < 1024px) {
    .container {
        padding: 72px 0;
        width: 690px;
    }

    .text-head {
        font-size: 3.8rem;
        line-height: 120%;
    }

    .text-head2 {
        font-size: 2.8rem;
        line-height: 140%;
    }

    .text-body {
        font-size: 1.6rem;
        line-height: 140%;
    }

    /* header */
    .header {
        height: 54px;
        padding: 15px 50px;
    }

    .header .logo {
        height: 24px;
    }

    .nav {
        display: none;
    }

    .menu {
        display: block;
    }

    /* hero */
    .container-hero .container {
        flex-direction: column;
        padding: 40px 0 80px;

    }
    .heroText-button{
        width: 100%;
    }
    .btn-hero{
        width: 100%;
        margin-top: 40px;
    }
    .add-infor-item-value {
        font-size: 2.2rem;
        line-height: 1.6;
    }

    .add-infor-item-lable {
        font-size: 1.6rem;
        line-height: 1.4;
    }
    .image-placeholder{
        height: 520px;
        width: 330px;
    }
    .hero-img{
        height: 310px;
        width: 330px;
    }
    .hero-infor{
        width: 330px;
        height: 110px;
    }
    .heroText-button, .image-placeholder{
        max-width: 330px;
    }
    .heroSection .text-body .text-body-title{
        font-size: 2.8rem;
        line-height: 1.4;
    }
    .text-body-desc{
        margin-top: 10px;
        font-size: 1.6rem;
        line-height: 1.4;
        text-transform: none;
    }
    .add-infor{
        padding: 20px;
        background: #3B3B3B;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .hero-infor-title{
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.4;
        text-transform: capitalize;
        color: #fff;
    }
    .hero-infor-author{
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    .hero-infor-author-avatar{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.4;
        color: #fff;
        margin-left: 12px;
    }

    /* trending */
    .card-list-item .container {
        margin-top: 40px;
    }
    .card-item:nth-child(n + 3) {
        display: none;
    }

    /* creator */
    .container-top-rated {
        margin-top: 40px;
        gap: 10px;
    }
    .item-top{
        width: 150px;
        padding: 10px;
        gap: 20px;
        margin: 0 10px 0 0;
        border-radius: 10px;
    }
    .item-avartar{
        width: 70px;
        height: 70px;
    }
    /* categorie */
    .container-browse {
        margin-top: 40px;
    }
    .list-browse-categories {
        width: 100px;
        gap: 20px;
    }
]

    /* discover */
.discover-more .container {
    padding: 40px 0 80px;
}
    .discover-more-list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }

    .discover-more-item:nth-child(n + 3) {
        display: none;
    }

    /* highlight */
    .nft .container {
        aspect-ratio: 834 / 630;
    }
    .nft-content-title {
        font-size: 3.8rem;
        line-height: 120%;
    }
    /* works */
    .card-row .container{
        padding: 40px 0 80px;
    }
    .card-row-title{
        font-size: 2.8rem;
        line-height: 1.4;

    }
    .card-row-desc{
        font-size: 1.6rem;
        line-height: 1.4;
        text-transform: none;
    }
    .card-row-list {
        margin-top: 40px;
        width: 100%;
        height: 330px;
    }
    .card-row-img{
        width: 160px;
    }
    .card-details-title{
        font-size: 1.6rem;
        line-height: 1.4;
        text-align: center;
    }
    .card-details-desc{
        font-size: 1.2rem;
        line-height: 1.4;
        text-align: center;
    }

    /* subscribe */
    .subscribe .container{
        padding: 40px 0 80px;
    }
    .container-sub{
        column-gap: 30px;
        padding: 40px 30px;
        width: 100%;
        align-items: flex-start;
    }
    .sub-img{
        height: 280px;
        object-fit: cover;
    }
    .form-sub-title{
        font-size: 2.8rem;
        line-height: 1.4;
    }
    .form-sub-desc{
        font-size: 1.6rem;
        line-height: 1.4;
        text-transform: none;
    }
    .form-subscribe {
        width: 100%;
        height: 46px;
        border-radius: 20px;

    }
    .body-form{
        position: relative;
    }
    .body-form-input {
        padding: 12px 20px;
        height: 46px;
    }
    .btn-sub {
        position: absolute;
        height: 46px;
        left: 0;
        top: 50px;
        margin-top: 80px;
    }

    /* footer */
    .foot-content {
        flex-direction: column;
        gap: 30px;
    }

    .foot-nav-title {
        margin-bottom: 20px;
    }

    .foot-sub,
    .foot-sub-title,
    .foot-sub-desc p {
        max-width: unset;
    }

    .body-form {
        display: flex;
        position: relative;
    }

    .body-form input {
        padding: 20px;
    }
    .body-form button {
        top: 0;
        right: 0;
        height: 60px;
        width: 178px;
        border-radius: 20px;
    }
    .foot-content {
        padding-left: 0;
        padding-right: 0;
    }
}

