.banner{
    background-image: url("img/banner_pc.jpg");
    height: 615px;
    background-size: cover;
    position: relative;
}
.invitation{
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 2px #ccc;
    border-radius: 5px;
    max-width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
}


@media screen and (max-width: 991px) and (min-width: 768px){
    .banner{
        background-image: url("img/banner_2.jpg");
        height: 615px;
    }
    .invitation{
        width: 100%;
        transform: initial;
        left: 0;
        top: 20px;
    }
}
@media screen and (max-width: 767px){
    .banner{
        background-image: url("img/banner_mobile.jpg");
    }

}