*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    border-radius: 50%;
    margin-top: 10px;
}
.container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.product-item{
    width: 300px;
    position: relative;
    border: 1px solid #ffffff;
    margin: 20px ;
    border-radius: 10px;
    background: #eae2e2;
    text-align: center;
}
.product-item h2{
     margin-top: 10px;
 }
.product-item > p{
    margin-top: 10px;
}
.product-item > p > strong{
    color: red;
}
.product-item :hover{
    cursor: pointer;
}
.product-item ul li{
    list-style: none;
    margin: 5px;
}
/**/
.product-item-title{
    text-align: center;
}
/*header*/
#header b{
    color: red;
}
#header2 b{
    color: green;
}
#header3 b{
    color: blue;
}
/*id*/
.product-item-pay{
    margin: 20px ;
}
.product-item-pay button{
    background: #234ca8;
    color: #fff;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #23a889;
}
.product-item-pay button:hover{
    background: #ff00ae;
}
.product-item-pay #header-pay{
    color: red;
}
.product-item-pay #header-pay2{
    color: red;
}
.product-item-pay #header-pay3{
    color: red;
}
div p {
    color: #9b23a8;
}






