*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.color-white{
    color: white;
}
.color-gray{
    color: gray;
}
.font-size-32{
    font-size: 32px;
}
.font-size-16{
    font-size: 16px;
}
.margin-2{
    margin: 4px;
}
.margin-4{
    margin: 8px;
}
.margin-top-5{
    margin-top: 10px;
}
.padding-2{
    padding: 4px;
}
.padding-4{
    padding: 8px;
}
.text-center{
    text-align: center;
}
.container{
    display: flex;
    position: relative;
}
.nav{
    display: block;
    height: 100vh;
    width: 20%;
    background: gray;
    border-radius:5px ;
}
.logo {
    font-weight: 600;
    line-height: 2;
}
.menu{
    line-height: 2;
}
.menu li{
    position: relative;
}
.mdi-menu-down{
    position: absolute;
    right: 10px;
    align-items: center;
}
.menu li:hover{
    color: white;
    cursor: pointer;
    background: #777070;
    border-radius: 5px;
}
/**/
.content{
    margin: 0 auto;
    height: 250px;
    line-height: 2;
}
.table-list{
    line-height: 3;
    border-collapse: collapse;
}
.table-list td, .table-list th {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}
.btn-edit{
    background: green;
    border: none;
    border-radius: 5px;
}
.btn-delete{
    background: red;
    border: none;
    border-radius: 5px;
}
.btn-edit:hover{
    opacity: 0.8;
    color: white;

    cursor: pointer;
}
.btn-delete:hover{
    opacity: 0.8;
    color: white;
    cursor: pointer;
}
/**/
.dialog{
    margin: 0 auto;
    width: 400px;
    height: 250px;
    border: 1px solid black;
    position: absolute;
    top: 40%;
    left: 40%;
    align-items: center;
    display: none;
}
.dialog-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #280b39;
}
.dialog-form{
    display: block;
}
.dialog-form .dialog-select{
    width: 380px;
    margin: 4px;
    height: 40px;
}
.dialog-form input{
    width: 380px;
    margin: 4px;
    height: 40px;
}
.dialog-button .button-close{
    background: red;
    border: none;
    width: 183px;
    height: 40px;
    margin: 4px;
    cursor: pointer;

}
.dialog-button .button-close:hover{
    opacity: 0.8;
}
.dialog-button .button-save{
    background: green;
    border: none;
    width: 183px;
    height: 40px;
    margin: 4px;
    cursor: pointer;
}
.dialog-button .button-save:hover{
    opacity: 0.8;
}
#edit{
    display: none;
}
#edit:checked ~ .dialog{
    display: block;
}


